<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rad.iit.com.baya">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.SignUpActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.HomePageActivity"/>
        <activity android:name=".activities.VideoChallengeListActivity"/>
        <activity android:name=".activities.VideoChallengeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ChallengerMamuActivity"
            android:label="@string/title_activity_challenger_mamu"
            android:theme="@style/AppTheme.NoActionBarNTitle" />
        <activity
            android:name=".activities.ChallengerMamuQuestionAnswerActivity"
            android:theme="@style/AppTheme.NoActionBarNTitle" />
        <activity android:name=".activities.ComposeQuestionActivity"
            android:theme="@style/AppTheme.NoActionBarNTitle"></activity>

    </application>

</manifest>
